.env
ansible/vault-password
terraform/secret.auto.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/secret.auto.tfvars
terraform/.terraform*
terraform/.terraform
terraform/.terraform.lock.hcl