.env
ansible/vault-password
ansible/group_vars/webservers/tf_ansible_vars_file.yml

terraform/secret.auto.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/secret.auto.tfvars
terraform/.terraform*
terraform/.terraform
terraform/.terraform.lock.hcl

